.servers-list {
    background-color: rgb(16, 69, 71);
    display: flex;
    flex-direction: column;
    width: 20%;
    border-left: 1px solid rgb(240, 239, 244);
    border-right: 1px solid rgb(240, 239, 244); 
}

.serveritem {
    padding: 10px 20px; 
    margin: 10px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    background-color: rgb(240, 239, 244);; 
    cursor: pointer; 
    transition: background-color 0.3s;
}

.serveritem:hover {
    background-color: rgb(221, 164, 72);
}

h3 {
    font-size: 1.4em;
    font-weight: 600; 
    margin: 10px 10px; 
    color: rgb(221, 164, 72);
}
