.welcome {
    position: relative;
    margin: auto;
    padding: 20px;
    margin-right: 0px;
    margin-left: 0px;
    right: calc(50% - 40vw + 40px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: fit-content;
    width: 40vw;
    background-color: navy;
}

.welcome_button {
    background-color: navy;
    color: blue;
    border: none;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    height: fit-content;
    padding: 10px;
    /* margin-bottom: 20px; */
}

.welcome_button:hover {
    background-color: lightblue;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit-content;
    gap: 5px;
}
form .welcome_buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

h1 {
    color: white;
    padding: 10px;
}
p {
    color: white;
}